
<a class="ui-button ui-widget ui-corner-all" href='index'>Home</a> 
<a class="ui-button ui-widget ui-corner-all" href='manualpunch'>Manual Punch - Child</a> 
<a class="ui-button ui-widget ui-corner-all" href='pmanualpunch'>Manual Punch - Provider</a> 

<a class="ui-button ui-widget ui-corner-all" href='pl'>Profit/Loss</a> 
<a class="ui-button ui-widget ui-corner-all" href='ledgermain'>Ledger Summary</a>

<a class="ui-button ui-widget ui-corner-all" href='checkin'>Provider Check In</a> 
<a class="ui-button ui-widget ui-corner-all" href='parentcheckin'>Parent Check In</a>
<a class="ui-button ui-widget ui-corner-all" href='logout'>Logout</a>


<br>
<br>